{% set primaryClass = primary ? 'isPrimary' : 'isSecondary' %}

<button
    class="button {{ styleClass }} {{ size }} {{ primaryClass }}"
    {{ disabled ? 'disabled' : '' }}
>
    {{ label }}
</button>
